/* Main */
.banner {
  width: 100%;
  height: 436px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../images/lg-04.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 94, 136, 0.7);
}
.banner .banner-text {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  z-index: 1;
}
.banner .banner-text p {
  width: 100%;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
}
.banner .banner-text p + p {
  margin-top: 36px;
}
.breadcrumb {
  background-color: #eeeeee;
  width: 100%;
}
.breadcrumb .breadcrumb-nav {
  padding: 22px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.breadcrumb ul {
  list-style: none;
}
.breadcrumb li + li {
  color: #666666;
  font-size: 14px;
  margin-left: 12px;
}
.breadcrumb li + li::before {
  color: #666666;
  content: ">";
  margin-right: 12px;
}
.breadcrumb .nav-link {
  color: #666666;
  cursor: pointer;
}
.breadcrumb .nav-link:hover {
  color: #8390b1;
  text-decoration: underline;
}
.breadcrumb .nav-link:active {
  color: #142248;
}
.general-content h3 {
  color: #142248;
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0;
}
.general-content .contacts-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.general-content .contacts-nav .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 384px;
  height: 208px;
  padding: 0 8px 40px 8px;
}
.general-content .contacts-nav .nav-link img {
  height: 32px;
  width: auto;
  margin-bottom: 24px;
}
.general-content .contacts-nav .nav-link a {
  color: #142248;
  text-decoration: underline;
  text-align: center;
}
.general-content .contacts-nav .nav-link a:hover {
  color: #485e88;
}
.general-content .contacts-nav .nav-link a:active {
  color: #142248;
}
.general-content .contacts-nav .nav-link a.lockation {
  text-decoration: none;
  width: 100%;
  max-width: 256px;
}
.map {
  width: 100%;
  height: 480px;
}
.map iframe {
  display: block;
  width: 100%;
  height: 100%;
}
/* Media */
@media screen and (max-width: 991.8px) {
  .banner {
    height: 400px;
  }
  .banner .banner-text p {
    font-size: 30px;
  }
  .banner .banner-text p + p {
    margin-top: 30px;
  }
  .map {
    height: 440px;
  }
}
@media screen and (max-width: 767.8px) {
  .banner {
    height: 360px;
  }
  .banner .banner-text p {
    font-size: 27px;
  }
  .banner .banner-text p + p {
    margin-top: 27px;
  }
  .map {
    height: 400px;
  }
}
@media screen and (max-width: 575.8px) {
  .banner {
    height: 320px;
  }
  .banner .banner-text p {
    font-size: 24px;
  }
  .banner .banner-text p + p {
    margin-top: 24px;
  }
  .general-content h3 {
    text-align: center;
  }
  .general-content .contacts-nav {
    flex-wrap: wrap;
    justify-content: stretch;
  }
  .general-content .contacts-nav .nav-link {
    flex-basis: 50%;
    max-width: 100%;
    height: auto;
  }
  .general-content .contacts-nav .nav-link:last-child {
    flex-basis: 100%;
  }
  .map {
    height: 360px;
  }
}
@media screen and (max-width: 479.8px) {
  .general-content .contacts-nav {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-self: center;
  }
  .general-content .contacts-nav .nav-link {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 359.8px) {
  .breadcrumb ul {
    list-style: none;
    font-size: 12px;
  }
  .breadcrumb li + li {
    margin-left: 10px;
  }
  .breadcrumb li + li::before {
    margin-right: 10px;
  }
}
