* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  color: #666666;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  line-height: 125%;
}
a {
  text-decoration: none;
}
a,
a::before,
a::after {
  transition: all 0.1s ease-in;
}
img {
  display: block;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Custom Select */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  margin-right: 40px;
}
/* hide original SELECT element: */
.custom-select select {
  display: none;
}
.select-selected {
  background-color: #eeeeee;
}
/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: url(../images/icon_arrow-bottom_primary.svg);
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}
/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  content: url(../images/icon_arrow-top_primary.svg);
}
/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #142248;
  padding: 12px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}
.select-selected {
  padding-right: 48px;
}
.select-items div {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #eeeeee;
  top: calc(100% + 10px);
  left: 0;
  z-index: 99;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* Page-01 */
.header-top {
  background-color: #eeeeee;
}
.header-top .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}
.header-top .item-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-top .item-left .info {
  position: relative;
  padding: 12px;
  padding-left: 40px;
  color: #666666;
  font-size: 14px;
  white-space: nowrap;
}
.header-top .item-left .info img {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  height: 16px;
}
.header-top .item-left a.info:hover {
  color: #8390b1;
}
.header-top .item-left a.info:active {
  color: #142248;
}
.header-top .item-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-top .item-right .social-link {
  position: relative;
  font-size: 14px;
  padding: 12px;
}
.header-top .item-right .social-link img {
  height: 16px;
}
.header-middle {
  background-color: #ffffff;
}
.header-middle .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  padding-left: 0;
}
.header-middle .item-left {
  width: 100%;
  max-width: 168px;
}
.header-middle .item-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-middle .item-right .info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 24px 8px 24px;
  width: 100%;
  max-width: 168px;
  font-size: 14px;
  color: #666666;
}
.header-middle .item-right .info:hover {
  color: #8390b1;
}
.header-middle .item-right .info:active {
  color: #142248;
}
.header-middle .item-right .info img {
  height: 16px;
  margin-right: 8px;
}
.header-middle .item-right .info + .info {
  border-left: 2px solid #eeeeee;
}
.header-middle .item-right .btn-call {
  color: #ffffff;
  background-color: #142248;
  border-radius: 2px;
  padding: 16px 24px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 24px;
}
.header-middle .item-right .btn-call:hover {
  background-color: #485e88;
}
.header-middle .item-right .btn-call:active {
  background-color: #142248;
}
.header-bottom {
  background-color: #142248;
}
.header-bottom .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-bottom .nav .nav-link {
  padding: 24px 16px;
  border-bottom: 2px solid transparent;
  color: #ffffff;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  white-space: nowrap;
}
.header-bottom .nav .nav-link:hover,
.header-bottom .nav .nav-link.active {
  border-bottom: 2px solid #ffffff;
}
.header-bottom .nav .nav-link:active {
  color: #8390b1;
  border-bottom: 2px solid #8390b1;
}
.slider-01 .swiper-container {
  width: 100%;
  height: 660px;
}
.slider-01 .swiper-button-next,
.slider-01 .swiper-button-prev {
  color: #ffffff;
  padding: 12px 21px;
  width: 60px;
  height: 60px;
}
.slider-01 .swiper-button-next::after,
.slider-01 .swiper-button-prev::after {
  font-size: 36px;
}
.slider-01 .swiper-button-next {
  right: 12px;
}
.slider-01 .swiper-button-prev {
  left: 12px;
}
.slider-01 .swiper-slide {
  padding: 0 80px;
}
.slider-01 .slide-01 {
  background-image: url("../images/lg-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.slider-01 h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  width: 100%;
  max-width: 800px;
}
.slider-01 h2 span {
  font-size: 80px;
  font-weight: 900;
}
.features {
  position: relative;
  margin-top: -104px;
  z-index: 1;
  padding-bottom: 80px;
}
.features .feature-items {
  display: flex;
  justify-content: stretch;
  align-items: center;
  box-shadow: 0 60px 30px -20px rgba(0, 0, 0, 0.2);
}
.features .feature-items .item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 12px;
  width: 100%;
  min-height: 208px;
  color: #ffffff;
}
.features .feature-items .item p {
  font-size: 21px;
}
.features .feature-items .item p span {
  font-size: 24px;
}
.features .feature-items .item-01 {
  background-color: #485e88;
}
.features .feature-items .item-02 {
  background-color: #8390b1;
}
.features .feature-items .item-03 {
  background-color: #bcc3d7;
}
.advantages .advantage-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 60px;
  width: 100%;
  padding: 0 12px;
  padding-bottom: 80px;
}
.advantages .item h3 {
  font-size: 30px;
  font-weight: 700;
  color: #142248;
}
.advantages .item p {
  margin-top: 40px;
  line-height: 175%;
}
.advantages .item img {
  margin-top: 40px;
  width: 100%;
  max-width: 560px;
  height: 256px;
  object-fit: cover;
  object-position: center;
}
.advantages .item ul {
  margin-top: 40px;
  list-style: url(../images/icon_checked_secondary.svg);
  line-height: 175%;
  padding-left: 24px;
}
.advantages .item ul li {
  padding-left: 8px;
}
.direction {
  background-color: #142248;
  width: 100%;
  height: 536px;
  position: relative;
}
.direction .text-info {
  width: 464px;
  padding: 48px 88px;
  color: #ffffff;
}
.direction .text-info h3 {
  font-size: 30px;
  font-weight: 700;
  position: relative;
  padding-bottom: 24px;
}
.direction .text-info h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
}
.direction .text-info p {
  margin-top: 32px;
  line-height: 175%;
}
.direction .slider-02 {
  position: absolute;
  top: 0;
  left: 464px;
  right: 0;
  bottom: 0;
}
.direction .slider-02 .swiper-container {
  width: 100%;
  height: 100%;
}
.direction .slider-02 .swiper-button-next,
.direction .slider-02 .swiper-button-prev {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 22px 26px;
  width: 60px;
  height: 60px;
}
.direction .slider-02 .swiper-button-next::after,
.direction .slider-02 .swiper-button-prev::after {
  font-size: 16px;
  font-weight: 900;
}
.direction .slider-02 .swiper-button-next {
  right: 0;
}
.direction .slider-02 .swiper-button-prev {
  left: 0;
}
.direction .slider-02 .swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%;
  position: relative;
}
.direction .slider-02 .swiper-slide .slide-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 96px;
  background-color: rgba(72, 94, 136, 0.8);
  padding: 28px 20px;
}
.direction .slider-02 .swiper-slide .slide-title p {
  font-size: 18px;
  color: #ffffff;
}
.direction .slider-02 .swiper-slide img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.customers {
  padding: 60px 0;
}
.customers .customers-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customers .customers-items img {
  object-fit: contain;
  object-position: center;
  width: 128px;
  height: 80px;
  filter: grayscale(100%);
  transition: all 0.1s ease-in;
}
.customers .customers-items img:hover {
  filter: none;
}
.customers .customers-items img:active {
  filter: grayscale(100%);
}
.review {
  background-image: url("../images/lg-02.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 536px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.review .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(131, 144, 177, 0.9);
}
.review h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 40px;
}
.review h3::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 80%;
  height: 2px;
  transform: translateX(-50%);
}
.review .slider-03 .swiper-container {
  width: 100%;
  max-width: 576px;
}
.review .slider-03 .swiper-pagination {
  position: absolute;
  bottom: 0;
}
.review .slider-03 .swiper-pagination-bullet,
.review .slider-03 .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
}
.review .slider-03 .swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid #ffffff;
  opacity: 1;
}
.review .slider-03 .swiper-pagination-bullet-active {
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
.review .slider-03 .review-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 56px;
}
.review .slider-03 .review-text span,
.review .slider-03 .review-text p {
  color: #ffffff;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}
.review .slider-03 .review-text .reviewer {
  margin-top: 12px;
}
.review .slider-03 .review-text .reviewers-company {
  font-style: italic;
}
footer {
  background-color: #242424;
  width: 100%;
  padding: 80px 0;
}
footer .footer-items {
  display: grid;
  grid-template-columns: minmax(auto, 2fr) 1fr 1.5fr;
  grid-gap: 20px;
}
footer .logo-slogan img {
  width: 100%;
  max-width: 144px;
}
footer .logo-slogan p {
  width: 100%;
  max-width: 208px;
  margin-top: 12px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 170%;
}
footer h3.title {
  font-size: 16px;
  color: #485e88;
  margin-bottom: 32px;
  font-weight: 700;
  line-height: 170%;
}
footer .menu,
footer .contacts {
  border-left: 2px solid #434343;
  padding-left: 24px;
  padding-bottom: 8px;
}
footer .menu-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .menu-nav .nav-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 170%;
}
footer .menu-nav .nav-link:hover {
  color: #bcc3d7;
}
footer .menu-nav .nav-link:active {
  color: #485e88;
}
footer .contacts-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .contacts-nav .nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 40px;
  margin-bottom: 12px;
  color: #ffffff;
  font-size: 14px;
}
footer .contacts-nav .nav-link:hover {
  color: #bcc3d7;
}
footer .contacts-nav .nav-link:active {
  color: #485e88;
}
footer .contacts-nav .nav-link img {
  height: 16px;
  margin-right: 20px;
}
