/* Main */
.breadcrumb {
  background-color: #eeeeee;
  width: 100%;
}
.breadcrumb .breadcrumb-nav {
  padding: 22px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.breadcrumb ul {
  list-style: none;
  font-size: 14px;
}
.breadcrumb li + li {
  color: #666666;
  margin-left: 12px;
}
.breadcrumb li + li::before {
  color: #666666;
  content: ">";
  margin-right: 12px;
}
.breadcrumb .nav-link {
  color: #666666;
  cursor: pointer;
}
.breadcrumb .nav-link:hover {
  color: #8390b1;
  text-decoration: underline;
}
.breadcrumb .nav-link:active {
  color: #142248;
}
.general-content {
  background-color: #ffffff;
  width: 100%;
  padding: 40px 0;
}
.general-content .content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.general-content h3 {
  width: 100%;
  color: #142248;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 40px;
  z-index: 1;
}
.general-content .slider-04 {
  width: 100%;
}
.general-content .slider-04 .swiper-container {
  width: 100%;
  height: 100%;
}
.general-content .slider-04 .swiper-pagination {
  position: absolute;
  bottom: 0;
}
.general-content .slider-04 .swiper-pagination-bullet,
.general-content .slider-04 .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
}
.general-content .slider-04 .swiper-pagination-bullet {
  background-color: transparent;
  border: 2px solid #8390b1;
  opacity: 1;
}
.general-content .slider-04 .swiper-pagination-bullet-active {
  background-color: #485e88;
  border: 2px solid #485e88;
}
.general-content .slider-04 .swiper-slide {
  width: 25%;
  padding-bottom: 40px;
}
.general-content .slider-04 figure {
  cursor: pointer;
  filter: brightness(90%);
  transition: all 0.1s ease;
}
.general-content .slider-04 figure:hover {
  filter: brightness(100%);
  box-shadow: 0 5px 10px rgba(63, 48, 48, 0.25);
  transition: all 0.1s ease;
}
.general-content .slider-04 figure:active {
  filter: brightness(90%);
  box-shadow: none;
  transition: all 0.1s ease;
}
.general-content .slider-04 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.general-content .slider-04 figcaption {
  padding: 8px 4px;
  color: #142248;
  font-size: 14px;
}
.bg-overlay {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0 20px;
  overflow-y: scroll;
}
.bg-overlay .wrapper {
  margin: 40px auto;
  width: 100%;
  max-width: 960px;
  position: relative;
}
.bg-overlay .close-btn {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 9;
  background-color: #142248;
  padding: 8px;
}
.bg-overlay .close-btn:hover {
  background-color: #485e88;
}
.bg-overlay .close-btn img {
  width: 24px;
  height: 24px;
}
.bg-overlay img {
  width: 100%;
  max-width: 960px;
  height: auto;
}
/* Media */
@media screen and (max-width: 359.8px) {
  .breadcrumb ul {
    list-style: none;
    font-size: 12px;
  }
  .breadcrumb li + li {
    margin-left: 10px;
  }
  .breadcrumb li + li::before {
    margin-right: 10px;
  }
}
