/* Main */
.breadcrumb {
  background-color: #eeeeee;
  width: 100%;
}
.breadcrumb .breadcrumb-nav {
  padding: 22px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.breadcrumb ul {
  list-style: none;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}
.breadcrumb li + li {
  color: #666666;
  margin-left: 12px;
}
.breadcrumb li + li::before {
  color: #666666;
  content: ">";
  margin-right: 12px;
}
.breadcrumb .nav-link {
  color: #666666;
  cursor: pointer;
}
.breadcrumb .nav-link:hover {
  color: #8390b1;
  text-decoration: underline;
}
.breadcrumb .nav-link:active {
  color: #142248;
}
.swipe-box {
  visibility: hidden;
  position: absolute;
  top: 334px;
  right: 40px;
  z-index: 1;
  height: 30px;
  display: flex;
  align-items: center;
}
.swipe-box .swipe {
  width: 25px;
  height: 25px;
  background-color: #142248;
  border-radius: 50%;
  position: relative;
  animation-name: swipe;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes swipe {
  0% {
    opacity: 1;
    width: 25px;
    height: 25px;
    right: 0px;
    top: 0px;
  }
  20% {
    opacity: 0.5;
    width: 20px;
    height: 20px;
    right: 0px;
    top: 0px;
  }
  40% {
    opacity: 0.5;
    width: 20px;
    height: 20px;
    right: 80px;
    top: 0px;
  }
  60% {
    opacity: 1;
    width: 25px;
    height: 25px;
    right: 80px;
    top: 0px;
  }
  80% {
    opacity: 0;
    width: 25px;
    height: 25px;
    right: 80px;
    top: 0px;
  }
  100% {
    opacity: 0;
    width: 25px;
    height: 25px;
    right: 0px;
    top: 0px;
  }
}
.general-content h3 {
  margin-top: 40px;
  color: #142248;
  font-size: 30px;
  font-weight: 700px;
}
.general-content .price-table {
  margin-top: 40px;
  display: grid;
  grid-template-columns: minmax(144px, 1.5fr) minmax(400px, 4.5fr) minmax(192px, 2fr) minmax(192px, 2fr);
  grid-template-rows: repeat(12, 64px);
}
.general-content .price-table .table-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background-color: #8390b1;
  color: #ffffff;
  font-weight: 700;
}
.general-content .price-table .table-header + .table-header {
  border-left: 2px solid #eeeeee;
}
.general-content .price-table .table-white {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: black;
  border-bottom: 2px solid #eeeeee;
}
.general-content .price-table .table-white + .table-white {
  border-left: 2px solid #eeeeee;
}
.general-content .price-table .table-light {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  background-color: #eeeeee;
  color: black;
  border-bottom: 2px solid #eeeeee;
}
.general-content .price-table .table-light + .table-light {
  border-left: 2px solid #eeeeee;
}
.general-content .price-table .table-header.col-left,
.general-content .price-table .table-white.col-left,
.general-content .price-table .table-light.col-left {
  justify-content: flex-start;
  text-align: left;
  padding: 0 20px;
}
.general-content .btn-back {
  display: inline-block;
  width: 100%;
  margin: 40px auto;
  color: #142248;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}
.general-content .btn-back:hover {
  color: #485e88;
  text-decoration: underline;
}
.general-content .btn-back:active {
  color: #142248;
}
/* Media */
@media screen and (max-width: 991.8px) {
  .swipe-box {
    visibility: visible;
  }
  .general-content .price-table {
    overflow-x: scroll;
  }
}
@media screen and (max-width: 412.8px) {
  .swipe-box {
    top: 370px;
  }
}
@media screen and (max-width: 359.8px) {
  .breadcrumb ul {
    list-style: none;
    font-size: 12px;
  }
  .breadcrumb li + li {
    margin-left: 10px;
  }
  .breadcrumb li + li::before {
    margin-right: 10px;
  }
}
