/* Main */
.banner {
  width: 100%;
  height: 288px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../images/lg-06.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 94, 136, 0.7);
}
.breadcrumb {
  background-color: #eeeeee;
  width: 100%;
}
.breadcrumb .breadcrumb-nav {
  padding: 22px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.breadcrumb ul {
  list-style: none;
  font-size: 14px;
}
.breadcrumb li + li {
  color: #666666;
  margin-left: 12px;
}
.breadcrumb li + li::before {
  color: #666666;
  content: ">";
  margin-right: 12px;
}
.breadcrumb .nav-link {
  color: #666666;
  cursor: pointer;
}
.breadcrumb .nav-link:hover {
  color: #8390b1;
  text-decoration: underline;
}
.breadcrumb .nav-link:active {
  color: #142248;
}
.general-content {
  background: linear-gradient(90deg, #f6f6f6, #f6f6f6 50%, #ffffff 50%, #ffffff);
  width: 100%;
}
.general-content .content-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  position: relative;
}
.general-content .open-aside {
  display: none;
  position: absolute;
  top: 14px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  transition: all 0.25s ease;
}
.general-content .open-aside span {
  position: relative;
  width: 32px;
  height: 32px;
  display: block;
}
.general-content .open-aside span::before,
.general-content .open-aside span::after {
  content: "";
  border-radius: 1px;
  background-color: #142248;
  position: absolute;
}
.general-content .open-aside span::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}
.general-content .open-aside span::after {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
}
.general-content .open-aside:hover span::before,
.general-content .open-aside:hover span::after {
  background-color: #485e88;
}
.general-content .open-aside:active span::before,
.general-content .open-aside:active span::after {
  background-color: #142248;
}
.general-content .open-aside.active {
  transform: rotate(45deg);
  transition: all 0.25s ease;
}
.general-content aside {
  background-color: #f6f6f6;
  padding: 60px 0;
  width: 100%;
  max-width: 288px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.general-content aside h3.title {
  color: #485e88;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.general-content aside .nav-link {
  color: #142248;
  font-size: 15px;
  font-weight: 700;
  margin-top: 16px;
}
.general-content aside .nav-link:hover {
  color: #485e88;
}
.general-content aside .nav-link:active {
  color: #142248;
}
.general-content aside .btn-call {
  color: #ffffff;
  background-color: #142248;
  border-radius: 2px;
  padding: 16px 12px;
  font-size: 14px;
  font-weight: 700;
  margin-top: 48px;
}
.general-content aside .btn-call:hover {
  background-color: #485e88;
  border-radius: 4px;
}
.general-content aside .btn-call:active {
  background-color: #142248;
}
.general-content aside.show {
  visibility: visible;
  top: 0;
  left: 0;
  transition-delay: 0.25s;
  transition: all 0.25s ease;
}
.general-content article {
  background-color: #ffffff;
  padding: 60px 80px;
}
.general-content article img {
  width: 100%;
  height: 248px;
  object-fit: cover;
  object-position: top left;
}
.general-content article .sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.general-content article h3 {
  color: #142248;
  font-size: 27px;
  font-weight: 700;
  margin-right: 20px;
}
.general-content article .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}
.general-content article .btns .btn-price,
.general-content article .btns .btn-license {
  display: block;
  width: 100%;
  max-width: 152px;
  color: #142248;
  background-color: #ffffff;
  border: 2px solid #8390b1;
  border-radius: 2px;
  text-align: center;
  padding: 12px;
  font-size: 15px;
  font-weight: 700;
}
.general-content article .btns .btn-price:hover,
.general-content article .btns .btn-license:hover {
  color: #ffffff;
  background-color: #8390b1;
  border-radius: 4px;
}
.general-content article .btns .btn-price:active,
.general-content article .btns .btn-license:active {
  color: #ffffff;
  background-color: #485e88;
  border: 2px solid #485e88;
}
.general-content article .btn-price {
  margin-right: 20px;
}
.general-content article .item {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}
.general-content article .item p {
  font-size: 15px;
  line-height: 150%;
}
.general-content article .item img {
  width: 100%;
  height: 168px;
  object-fit: cover;
  object-position: center;
}
.general-content article .btn-back {
  display: inline-block;
  margin-top: 40px;
  color: #142248;
  font-size: 12px;
  text-transform: uppercase;
}
.general-content article .btn-back:hover {
  color: #485e88;
  text-decoration: underline;
}
.general-content article .btn-back:active {
  color: #142248;
}
/* Media */
@media screen and (max-width: 991.8px) {
  .banner {
    height: 256px;
  }
  .general-content article {
    padding: 60px;
  }
  .general-content article .item {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767.8px) {
  .banner {
    height: 224px;
  }
  .general-content {
    background: #ffffff;
  }
  .general-content .content-grid {
    grid-template-columns: 1fr;
  }
  .general-content .open-aside {
    display: block;
  }
  .general-content aside {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -100%;
    padding: 60px 20px;
    width: 50%;
    max-width: 50%;
    height: 100%;
    transition-delay: 0.25s;
    transition: all 0.25s ease;
    border-right: 1px solid #eeeeee;
  }
  .general-content article {
    padding: 60px 46px;
  }
}
@media screen and (max-width: 575.8px) {
  .banner {
    height: 192px;
  }
  .general-content article {
    padding: 60px 0;
  }
  .general-content article .sub-header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .general-content article .btns {
    margin-top: 20px;
  }
}
@media screen and (max-width: 359.8px) {
  .breadcrumb ul {
    list-style: none;
    font-size: 12px;
  }
  .breadcrumb li + li {
    margin-left: 10px;
  }
  .breadcrumb li + li::before {
    margin-right: 10px;
  }
}
